.main--view {
	margin-bottom: 100px;
}

.page--title {
	font-size: 24px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
}

.separator--primary {
	border-color: $elaio-primary-color;
}