@font-face {
  font-family: 'ContrailOne';
  src: url('../fonts/ContrailOne-Regular.ttf')  format('truetype');
}


.main-header {
  background-image: linear-gradient(to top left, #550078 0%, #a00013 100%);
  box-shadow: 0 1px 15px black;
  font-family: 'ContrailOne';
  width: 100%;
  text-align: center;
  background-color: #550078;
  color: white;
  padding: 30px;
}

.main-title {
  font-size: 6em;
}